{{#partial "pageClass"}} {{/partial}}

{{#partial "pageStyles"}}
  {{LCStyle "common"}}
  {{LCStyle "income-verification"}}
{{/partial}}

{{#partial "pageTitle"}}
  Income Verification
{{/partial}}

{{#partial "pageDescription"}}
  LendingClub | Income Verification
{{/partial}}

{{#partial "content"}}
  <div class="page-main">
    {{> mini-header/mini-header-template}}

    <div id="income-verification"></div>

    {{#defineModule "plaidConfig"}}
      {{{plaidConfig}}}
    {{/defineModule}}
    {{#defineModule "plaidData"}}
      {{{plaidData}}}
    {{/defineModule}}
  </div>
{{/partial}}

{{#partial "pageScripts"}}
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  {{LCScript "runtime"}}
  {{LCScript "common"}}
  {{LCScript "income-verification"}}
{{/partial}}

{{> base-layout/base-layout}}
